{% extends 'base/_base.html' %}

{% block title %}
  Register Page
{% endblock title %}

{% block content %}
{% if mes %}
<div class="alert alert-info" role="alert">
  {{ mes }}
</div>
{% endif %}
<div class="row gx-1 mb-5">
{% for post in posts %}
<div class="col">
  <div class="card" style="width: 641px">
    <div class="card-header">
      <div class="row">
        <div class="col-3 p-0">
          <img src="{{ post.author.profile.avatar }}" class="rounded-circle" width="50" height="50">
          <p class="text-muted">@<a class="text-muted" href="{% url 'accounts:profile' post.author %}">{{ post.author }}</a></p>
        </div>
        <div class="col align-self-center text-end">
          <h5>{{ post.title }}</h5>
          <p>
            <a href="{% url 'blog:post_list'%}?date={{ post.publish|date:'Y-m-d' }}" class="small text-muted">
              {{ post.publish|date:'F j o' }}
            </a>
          </p>
          <p class="m-0"><a class="card-subtitle small text-muted" href="{% url 'blog:post_list' %}?category={{ post.category.pk }}">{{ post.category|capfirst }}</a></p>
        </div>

      </div>
    </div>
    <div class="card-body p-0">
      <img src="{{ post.image_url }}" width="640" height="360">
    </div>
    <div class="card-footer text-center">
      <p class="card-text">{{ post.body|truncatewords:20 }}</p>
      <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
{% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ request.url }}?page={{ page|add:-1 }}{{ filters }}">Previous</a>
    </li>
    {% endif %}
    {% if page > 2 %}
    <li class="page-item"><a class="page-link" href="{{ request.url }}?page={{ page|add:-2 }}{{ filters }}">{{ page|add:-2 }}</a></li>
    {% endif %}
    {% if page > 1 %}
    <li class="page-item"><a class="page-link" href="{{ request.url }}?page={{ page|add:-1 }}{{ filters }}">{{ page|add:-1 }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="{{ request.url }}?page={{ page }}{{ filters }}">{{ page }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ request.url }}?page={{ page|add:1 }}{{ filters }}">{{ page|add:1 }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ request.url }}?page={{ page|add:2 }}{{ filters }}">{{ page|add:2 }}</a></li>

    <li class="page-item">
      <a class="page-link" href="{{ request.url }}?page={{ page|add:1 }}{{ filters }}">Next</a>
    </li>
  </ul>
</nav>
{% endblock content %}